*{
  margin:0;
  padding: 0;
}

body{
  background:#f5f5f5 ;
  //background: red;
}

//用户晒单
.usershow{

   font-size: 20px;
  height: 60px;
  line-height:75px;
  font-family: '微软雅黑';

  .usershowcenter{
    text-align: center;
  }

}
.navtopoutside {
  border-bottom: 1px solid #c2c2c2;
  .navtop {

    height: 34px;
    background: #f8f8f8;
    padding: 0;
.navtopin{
  height: 20px;
  //background: pink;

  .navtopinleft8{
    color: #c2c2c2;
    height: 34px;

    //background: yellow;
    span{
      display: inline-block;
      height: 34px;
      line-height: 34px;

     a{
       color: #7b7b7b;
     }
    }
    .nav1{
      padding-right: 12px;
    }
    .nav2,.nav3{
      padding: 0 12px;
    }
    .nav4{
      padding-left:12px ;
    }
  }

  .navtopinright4{
    color: #c2c2c2;
    padding-left: 100px;
    //background: red;
    height: 34px;

    span{
      display: inline-block;
      height: 34px;
      line-height: 34px;

      a{
        color: #7b7b7b;
      }
    }
    .nav5{
      padding-right: 12px;
    }
    .nav6{
      padding: 0 12px;
    }
    .nav7{
      padding-left: 12px;
    }

  }


}

  }
}
.logobgc{
  height: 85px;
  background: white;
  //background: red;


  .logobgcin{
    //height: 40px;
    //background: green;
    padding: 0;

    .logopic{
      padding-right: 30px;
      //height: 20px;
      //background: pink;
      img{
        width: 100%;
      }
    }
    //中间文字
    .logocenter{
      height: 85px;
      //background: green;

      //padding-left: 40px;

      span{
        display: inline-block;
        height: 85px;

        line-height: 85px;

        a{
          color: black;
          font-size: 18px;
        }
      }

      .lc001{
        margin-left: 60px;
        margin-right: 40px;
      }
      .lc002{
        margin-right: 40px;
      }
   .lc003{
     margin-right: 40px;
   }


    }

    .logoright{
    height: 85px;

      //background: yellow;

.searchbox{
  position: relative;
  height: 85px;
  line-height: 85px;

  background: white;


  .search-txt{

    width: 282px;
    height: 40px;
  }
  .search-sub{

display: inline-block;
    width: 40px;
    height: 40px;

    position: absolute;
    right: 0;
    top: 23px;



  }



}



    }
  }
}
.bgred{
  background: red;
}
.bggr{
  background: green;
}
.banner{
  height:242px;
  background:blue;
  padding: 0;
position: relative;

  .bannerrgba{
    width: 300px;
    height: 242px;
    background: black;
    opacity: 0.7;

    position: absolute;

    top: 0;
    left: 125px;

    z-index: 999;

    padding:10px 0 0 20px;

    .hot{
      color: white;
      .hottit{
        border-left: 4px solid white;
        padding-left: 4px;
        a{
          color: #ffffff;
        }

        font-size: 16px;
      }
      .hotrow001{
        margin-top: 6px;
        span{
          display: inline-block;
          margin: 0 6px;
          margin-left: 1px;


          text-align: center;

          a{
            color: #ffffff;
          }
        }

      }
      .hotrow002{

        span{
          display: inline-block;
          margin: 0 6px;
          margin-left: 1px;


          text-align: center;

          a{
            color: #ffffff;
          }
        }

        span:nth-child(1){
          margin-left: 2px;
        }

      }
    }

    .sees{
      margin-top: 12px;
      color: white;
      .seestit{
        border-left: 4px solid white;
        padding-left: 4px;
        a{
          color: #ffffff;
        }

        font-size: 16px;
      }
      .seesrow001{
        margin-top: 6px;
        span{
          display: inline-block;
          margin: 0 6px;
          margin-left: 1px;


          text-align: center;

          a{
            color: #ffffff;
          }
        }

      }
      .seesrow002{

        span{
          display: inline-block;
          margin: 0 6px;
          margin-left: 1px;


          text-align: center;

          a{
            color: #ffffff;
          }
        }

        span:nth-child(1){
          margin-left: 2px;
        }

      }
    }

    .try{
      margin-top: 12px;
      color: white;
      .trytit{
        border-left: 4px solid white;
        padding-left: 4px;
        a{
          color: #ffffff;
        }

        font-size: 16px;
      }
      .tryrow001{
        margin-top: 6px;
        span{
          display: inline-block;
          margin: 0 6px;
          margin-left: 1px;


          text-align: center;

          a{
            color: #ffffff;
          }
        }

      }
      .tryrow002{

        span{
          display: inline-block;
          margin: 0 6px;
          margin-left: 1px;


          text-align: center;

          a{
            color: #ffffff;
          }
        }

        span:nth-child(1){
          margin-left: 2px;
        }

      }
    }








  }

  .bannerright{
    position: absolute;

    top: 12px;
    right: 110px;
    z-index: 999;

    width: 160px;
    height: 220px;
    img{
      width: 100%;
    }

  }



}

//横排四个



//.rowfour0001{
//  position: relative;
//  height:146px;
//  background: yellow;
//  .rowfour0002{
//    height: 80px;
//    background: pink;
//
//    .rowfour0002l1{
//      height: 70px;
//      background: green;
//    }
//
//      .rowfour0002r10ins{
//        //height: 50px;
//        //background: yellow;
//
//        //border-right: 1px solid black;
//
//
//      }
//
//
//      .fourfirst{
//        border-right: 1px solid #f5f5f5;
//        padding: 0;
//        //padding-left: 10px;
//        background: white;
//        height:146px;
//        //左四 图片
//        .left4pic{
//          height:146px;
//          line-height: 146px;
//
//          img{
//            width: 100%;
//          }
//        }
//        //右八 文字
//        .right8txt{
//          padding-left: 10px;
//
//          .intro{
//            color: #bcbcbc;
//            line-height: 5px;
//          }
//          .priceredtop{
//            font-size: 11px;
//            display: inline-block;
//            padding-top: 8px;
//
//          }
//          .pricered{
//            margin-top: -6px;
//            color: red;
//
//            .numred{
//              font-size: 24px;
//            }
//          }
//
//          .seckill{
//            padding-top: 12px;
//
//            display: inline-block;
//
//          }
//          .seckilltime{
//            display: inline-block;
//          }
//
//        }
//      }
//
//      //.foursecond{
//      //  border-right: 1px solid #f5f5f5;
//      //  padding: 0;
//      //  padding-left: 10px;
//      //  background: white;
//      //  height:146px;
//      //  .left4pic{
//      //    height:146px;
//      //    line-height: 146px;
//      //
//      //    img{
//      //      width: 100%;
//      //    }
//      //  }
//      //
//      //  .right8txt{
//      //    padding-left: 10px;
//      //
//      //    .intro{
//      //      color: #bcbcbc;
//      //      line-height: 5px;
//      //    }
//      //
//      //    .priceredtop{
//      //      font-size: 11px;
//      //      display: inline-block;
//      //      padding-top: 8px;
//      //
//      //    }
//      //    .pricered{
//      //      margin-top: -6px;
//      //      color: red;
//      //
//      //      .numred{
//      //        font-size: 24px;
//      //      }
//      //    }
//      //
//      //    .seckill{
//      //      padding-top: 12px;
//      //
//      //      display: inline-block;
//      //
//      //    }
//      //    .seckilltime{
//      //      display: inline-block;
//      //    }
//      //
//      //  }
//      //}
//      //
//      //.fourthird{
//      //  border-right: 1px solid #f5f5f5;
//      //  padding: 0;
//      //  padding-left: 10px;
//      //
//      //  background: white;
//      //  height:146px;
//      //
//      //  .left4pic{
//      //    height:146px;
//      //    line-height: 146px;
//      //
//      //    img{
//      //      width: 100%;
//      //    }
//      //  }
//      //
//      //
//      //
//      //  .right8txt{
//      //    padding-left: 10px;
//      //
//      //    .intro{
//      //      color: #bcbcbc;
//      //      line-height: 5px;
//      //    }
//      //
//      //    .priceredtop{
//      //      font-size: 11px;
//      //      display: inline-block;
//      //      padding-top: 8px;
//      //
//      //    }
//      //    .pricered{
//      //      margin-top: -6px;
//      //      color: red;
//      //
//      //      .numred{
//      //        font-size: 24px;
//      //      }
//      //    }
//      //
//      //    .seckill{
//      //      padding-top: 12px;
//      //
//      //      display: inline-block;
//      //
//      //    }
//      //    .seckilltime{
//      //      display: inline-block;
//      //    }
//      //
//      //  }
//      //}
//      //
//      //.fourfourth{
//      //
//      //
//      //  padding: 0;
//      //  padding-left: 10px;
//      //
//      //  background: white;
//      //  height:146px;
//      //
//      //  .left4pic{
//      //    height:146px;
//      //    line-height: 146px;
//      //
//      //    img{
//      //      width: 100%;
//      //    }
//      //  }
//      //
//      //
//      //
//      //  .right8txt{
//      //    padding-left: 10px;
//      //
//      //    .intro{
//      //      color: #bcbcbc;
//      //      line-height: 5px;
//      //    }
//      //
//      //    .priceredtop{
//      //      font-size: 11px;
//      //      display: inline-block;
//      //      padding-top: 8px;
//      //
//      //    }
//      //    .pricered{
//      //      margin-top: -6px;
//      //      color: red;
//      //
//      //      .numred{
//      //        font-size: 24px;
//      //      }
//      //    }
//      //
//      //    .seckill{
//      //      padding-top: 12px;
//      //
//      //      display: inline-block;
//      //
//      //    }
//      //    .seckilltime{
//      //      display: inline-block;
//      //    }
//      //
//      //  }
//      //}
//
//  }
//}















//横排四个 之前的
.rowfour0001{


  position: relative;
    height:146px;
  //  background:gold;
  //  padding: 0;


  .rowfour0002{
    //height: 80px;
    //background: pink;

    .rowfour0002l1{
      //height: 70px;
      //background: green;
    }
    .rowfour0002r10{
      position: relative;
      //height: 60px;
      //background: orange;

      .rowfour0002r10ins{
        //height: 50px;
       //background: yellow;

        //border-right: 1px solid black;


          }


      .fourfirst{
        border-right: 1px solid #f5f5f5;

        padding: 0;
        padding-left: 10px;

        background: white;
        height:146px;

        //左四 图片
        .left4pic{
          height:146px;
          line-height: 146px;

          img{
            width: 100%;
          }
        }

//右八 文字

        .right8txt{
          padding-left: 10px;

          .intro{
            color: #bcbcbc;
            line-height: 5px;
          }

          .priceredtop{
            font-size: 11px;
            display: inline-block;
            padding-top: 8px;

          }
          .pricered{
            margin-top: -6px;
            color: red;

            .numred{
              font-size: 24px;
            }
          }

          .seckill{
            padding-top: 12px;

            display: inline-block;

          }
          .seckilltime{
            display: inline-block;
          }

        }
      }

      .foursecond{
        border-right: 1px solid #f5f5f5;
        padding: 0;
        padding-left: 10px;

        background: white;
        height:146px;

        .left4pic{
          height:146px;
          line-height: 146px;

          img{
            width: 100%;
          }
        }



        .right8txt{
          padding-left: 10px;

          .intro{
            color: #bcbcbc;
            line-height: 5px;
          }

          .priceredtop{
            font-size: 11px;
            display: inline-block;
            padding-top: 8px;

          }
          .pricered{
            margin-top: -6px;
            color: red;

            .numred{
              font-size: 24px;
            }
          }

          .seckill{
            padding-top: 12px;

            display: inline-block;

          }
          .seckilltime{
            display: inline-block;
          }

        }
      }

      .fourthird{
        border-right: 1px solid #f5f5f5;
        padding: 0;
        padding-left: 10px;

        background: white;
        height:146px;

        .left4pic{
          height:146px;
          line-height: 146px;

          img{
            width: 100%;
          }
        }



        .right8txt{
          padding-left: 10px;

          .intro{
            color: #bcbcbc;
            line-height: 5px;
          }

          .priceredtop{
            font-size: 11px;
            display: inline-block;
            padding-top: 8px;

          }
          .pricered{
            margin-top: -6px;
            color: red;

            .numred{
              font-size: 24px;
            }
          }

          .seckill{
            padding-top: 12px;

            display: inline-block;

          }
          .seckilltime{
            display: inline-block;
          }

        }
      }

      .fourfourth{


        padding: 0;
        padding-left: 10px;

        background: white;
        height:146px;

        .left4pic{
          height:146px;
          line-height: 146px;

          img{
            width: 100%;
          }
        }



        .right8txt{
          padding-left: 10px;

          .intro{
            color: #bcbcbc;
            line-height: 5px;
          }

          .priceredtop{
            font-size: 11px;
            display: inline-block;
            padding-top: 8px;

          }
          .pricered{
            margin-top: -6px;
            color: red;

            .numred{
              font-size: 24px;
            }
          }

          .seckill{
            padding-top: 12px;

            display: inline-block;

          }
          .seckilltime{
            display: inline-block;
          }

        }
      }

        }












      }
    }




























.pad0{
  padding: 0;
}

//横排五个

//右边框 5
.br10{
  border-right: 5px solid #f5f5f5;

}
//左边框 5
.bl5{
  border-left: 5px solid #f5f5f5;

}

.bgc0001{
  //background: red;
  height: 302px;
  //margin-bottom: 10px;


  //margin-bottom: 500px;
  //margin-left: 135px;
  .bgc0002{

    height: 202px;



    .bgc0002l1{
      //background: red;
      height: 1000px;
    }

    //.bgc0002r2{
    //  background: gold;
    //  height: 40px;
    //}

    .rowdivwhbgc{
      height:302px; background:white;
      text-align: center;

      margin-bottom: 10px;


      .pic{
        margin: 40px auto 0;
        width: 100px;
        img{
          width:100%;
        }
      }

      .h{
        color: black;
      }

      .price{
        .rmblogo{
          display: inline-block;
          color: red;
          .nowcost{
            font-size: 25px;

          }
        }

        .disori{
          text-align: center;
          display: inline-block;


          .original{
            display: block;

            font-size: 9px;
            color: #9aa7b4;
          }
        }
      }
      .p,.lastwrite{
        color: #9aa7b4;
      }





    }



    .rowdivwhbgc:hover{
      transform:scale(1.02);
      box-shadow:0px 1px 30px 2px #C0C0C0;
      z-index:5;
    }







  //.bgc000201{
  //  height: 20px;
  //  background: gold;
  //
  //}
  //  .bgc000202{
  //    height: 30px;
  //    background: red;
  //
  //  }
  //  .bgc000203{
  //    height: 40px;
  //    background: green;
  //
  //  }
  //  .bgc000204{
  //    height: 50px;
  //    background: white;
  //
  //  }
  //  .bgc000205{
  //    height: 60px;
  //    background: gold;
  //
  //  }
  }
}



//热销机型
.hot0001{
  //background: red;
  height: 302px;
  //margin-bottom: 10px;


  //margin-bottom: 500px;
  //margin-left: 135px;
  .hot0002{

    height: 202px;



    .hot0002l1{
      background: red;
      height: 30px;
    }

    .hot0002r2{
      background: gold;
      height: 40px;



    }
    //每块的宽高背景色
    .rowdivwhbgc{

      height:302px; background:white;
      text-align: center;

      .pic{
        margin: 40px auto 0;
        width: 100px;
        img{
          width:100%;
        }
      }

      .h{
        color: black;
      }

      .price{
            font-size: 25px;
            color: red;
      }

      .p{
        color: #9aa7b4;
      }
    .lastwrite{
      color: red;
    }





    }










    //.bgc000201{
    //  height: 20px;
    //  background: gold;
    //
    //}
    //  .bgc000202{
    //    height: 30px;
    //    background: red;
    //
    //  }
    //  .bgc000203{
    //    height: 40px;
    //    background: green;
    //
    //  }
    //  .bgc000204{
    //    height: 50px;
    //    background: white;
    //
    //  }
    //  .bgc000205{
    //    height: 60px;
    //    background: gold;
    //
    //  }
  }
}


.partners{
   padding:0;

  .br5{
    border-right: 2px #f5f5f5 solid;
    /*padding-right: 2px;*/
  }
  .pad0{
    padding: 0;;
  }

  .partnersdiv{
   background: #f5f5f5;
    img{
      width: 100%;
    }
  }
}
.partnerstwo{

  .br5{
    border-right: 2px #f5f5f5 solid;
    /*padding-right: 2px;*/
  }
  .pad0{
    padding: 0;;
  }

  padding:0;margin-bottom: 16px;
  .partnersdiv{
    background: #f5f5f5;
    img{
      width: 100%;

  }

  }
}


.zuixin{
  height:56px;line-height: 56px;

  li{
    a{
      color: black;
      font-family: 微软雅黑;
      font-size: 20px;
    }
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  img{
    width: 100%;
  }
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.f001right{
  text-align: center;
}
.phone-num{
  font-size: 22px;
  color: #44aa77;
  font-weight: bold;

  margin-bottom: 16px;
}
.phone-desc{
  font-size: 14px;
  font-family: 微软雅黑;

  margin-bottom: 10px;
}
.zixun{
  display: inline-block;
  width: 162px;
  height: 36px;
  background: #44aa77;
  border-radius: 5px;

  font-size: 18px;
  text-align: center;
  line-height: 36px;
  color: white;

  margin-bottom: 14px;

}

.follow-wechat{
  font-size: 14px;
  font-family: 微软雅黑;
}




//用户晒单下
.downusershow{

  height:334px;
  //background: pink;

  //用户晒单
  .downusershow001{
    background: white;
    height: 334px;
    //padding: 0;
    .outline{
      height: 111px;
      border-bottom: 1px dashed black;

      .s1{
        height: 50px;
        //background: red;
        padding: 0;
        .s1pic{
          display: inline-block;
          width: 70px;
          height: 70px;

          padding-top: 20px;
          img{
            width: 100%;
          }
        }

      }
      .s2{
        height: 60px;
        //background: pink;
margin-top: 20px;
        padding: 0;
        margin-left: -20px;
        .s2write{

        }
      }
    }



  }

//发布愿望

  .downusershow002{
    //background: red;
    background: white;
    height:334px;
    border-left: 8px solid #f5f5f5;
    border-right: 8px solid #f5f5f5;



    .wishtop{
      color: #999999;
      margin-top: 25px;
      margin-bottom: 34px;
    }
    .wish{
      text-align: center;
      .wishpic{
        width: 180px;
        height: 180px;
        margin: 0 auto;
        img{
          width: 100%;
        }
      }
    }

    .wishdown001{
      margin-top: 16px;
      color: #999999;
    }
    .wishdown002{
      color: #999999;
    }
  }

//关注我们
  .downusershow003{
    background: white;
    height:334px;
    border-left: 8px solid #f5f5f5;

    padding-top: 12px;

    .focustop{
      border-bottom: 1px dashed #949494;
      padding-bottom: 10px;

      .focustopleft{
        display: inline-block;
        width: 110px;
        height: 110px;

        margin-right: 12px;
        img{
          width: 100%;
        }
      }
      .focustopright{
        display: inline-block;

        width: 180px;
        text-align: center;

        .focustopright001{
          //margin-top: -10px;
          //display: inline-block;
          height: 26px;
          //line-height: 60px;
          font-size: 26px;
          font-weight: bold;
          color: #44aa77 ;
        }
        .focustopright002{

          font-size: 18px;
          margin-top: 10px;
        }
        .focustopright003{
          margin-top: 15px;
          font-size: 22px;
          font-weight: bold;
          color: #44aa77 ;
        }

      }
    }

    .focusweibo{
      border-bottom:1px dashed #949494 ;

      padding: 10px;
      .focusweibopic{
        width: 32px;
        height: 32px;
        img{
          width: 100%;

        }
      }

      .focusweiboright{
        margin-left: -20px;
        height: 32px;
        line-height: 32px;
        .focusweiboright001{
          font-size: 18px;
          margin-right: 20px;

        }
        .focusweiboright002{
          color: #666666;
          font-size: 13px;
        }

      }


    }

    .focusgroup{
      padding: 12px;

      .focusgrouppic{
        width: 32px;
        height: 32px;
        img{
          width: 100%;
        }
      }


      .focusgroupright{
        margin-left: -20px;
        margin-top: -5px;

        .focusgroupright001{
          margin-right: 20px;
        }
        .focusgroupright002{
          color: #44aa8c;

          span:nth-child(1){
            font-size: 18px;
            margin-right: 10px;
          }
          span:nth-child(2){
            font-size: 18px;
            margin-right: 10px;
          }
          span:nth-child(3){
            font-size: 18px;

          }
        }




        .focusgroupright003{
          text-align: center;

          margin-left: -10px;

          color: #88c3aa;
        }
      }
    }
  }

}




.footer001{
   height: 206px; background: white;

  .offandin{
  height: 206px; background: blue;

    .inside{
      padding: 0; padding: 20px 0; background: white;

      .insideleft{





        background: white;height: 166px;

        .oneone{
          text-align:center;
          //.footer-icon0{
          //  width: 68px;
          //  height: 68px;
          //  background: url("../hezuohuoban/footer001.png") no-repeat;
          //  background-position:0 0 ;
          //
          //
          //  display:inline-block;width: 68px; height: 68px;
          //
          //}
        }

        .twotwo{
          text-align:center;

          .footer-icon1{

            background: url("../hezuohuoban/footer001.png") no-repeat;
            background-position: -71px 0;
            display:inline-block;width: 68px; height: 68px;

          }

        }

        .threethree{
          text-align:center;

          //.footer-icon2{
          //  display:inline-block;width: 68px; height: 68px;
          //  background: url("../hezuohuoban/footer001.png") no-repeat;
          //  background-position:-140px 0;
          //
          //
          //
          //}
        }

        .fourfour{
          border-right:2px solid grey;text-align:center;

          .footer-icon3{
            display:inline-block;width: 68px; height: 68px;
            background: url("../hezuohuoban/footer001.png") no-repeat;
            background-position:-211px 0;



          }
        }
      }
    }
}
}






.footer{
  color:white; font-family: 微软雅黑;
  a{
    color: white;
    text-decoration: none;
  }
}